/* skills section styling */
.skills{
    font-family: 'Poppins', sans-serif;
}
.skills .title::after{
    content: "what i know";
}
.skills .skills-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    background: rebeccapurple;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rebeccapurple;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: rebeccapurple;
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: rebeccapurple;
}
.skills .skills-content .right .programming::before{
    width: 80%;
}
.skills .skills-content .right .react::before{
    width: 70%;
}
.skills .skills-content .right .html::before{
    width: 55%;
}
.skills .skills-content .right .python::before{
    width: 70%;
}
.skills .skills-content .right .addobe::before{
    width: 90%;
}
.skills .skills-content .right .office::before{
    width: 68%;
}
.skills .skills-content .right .coomunicate::before{
    width: 75%;
}






